.header {
    padding: 10px 40px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-container {
    height: 50px;
    width: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.logo-container img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 50%;
}

.logo-container:hover img {
    transform: scale(2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.header .language-selector-wrapper {
    flex-shrink: 0;
    position: relative;
    width: 150px;
}

.header .watch {
    flex-shrink: 0;
}

.language-selector {
    width: 50px;
}

.watch {
    width: 80px;
}
