.header {
    padding: 10px 40px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header img {
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
}

.header .language-selector-wrapper {
    flex-shrink: 0;
}

.header .watch {
    flex-shrink: 0;
}

.language-selector {
    width: 31px;
}

.watch {
    width: 80px;
}
