.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.page-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

.page-item.active .page-link {
    background-color: #fff;
    color: #000;
}

.page-ellipsis {
    padding: 5px 10px;
    color: #fff;
}
