@import 'normalize.css';

body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #9041c7, #48f);
    color: #fff;
    line-height: 1.6;
    min-height: 100vh;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

p {
    margin: 0.5em 0;
}

small {
    color: #ccc;
}
